<% provide(:title, "About") %>
<div class ="about-bg">
  <div class="center about-explain">
    <h1>What is SAGROUP?</h1>
    <p>作成者の私は現在早稲田大学商学部２年生です。<br>普段はゲームやサッカーをしています。<br>私は昔からよくオンラインゲームをやるのですが、<br>最近はスマホゲームが増えて気軽に遊べるようになり、<br>繋がりを求める人が増えていると感じました。</p>
    <p>オンラインゲームをやっている人々は、<br>人との繋がりを求めてチームやギルドを構成して楽しむ人が多いです。<br>理由は一人でゲームをするよりも一緒にゲームをする方が楽しいからです。</p>
    <p>実際人々はオンラインゲーム内でのチームやギルドを作る機能だけでは飽き足らず<br>Discordを使ってボイスチャット機能で会話しながらゲームをしたり、<br>Discordで日常のプライベートな情報を共有したり、<br>さらにそこから発展して実際に会う人も増えてきています。</p>
    <p>ここで私は、ギルドメンバーやチームメンバーを増やしたい人々と<br>自分に合ったギルドやチームを探している人々をマッチングさせる<br>プラットフォームを作りたいと思いました。<br>そしてそのプラットフォームがSAGROUPです。</p>
    <p>最後に、SAGROUPとは、「探る」と「グループ」を合わせたものです。</p>
  </div>
</div>