<% provide(:title, 'Contact') %>
<div class ="about-bg">
  <div class="center about-explain">
    <h1>CONTACT</h1>
    <%= image_tag "myayumu.jpg", alt: "", id: "assets", class: "circle myayumu", width: "160px" %>
    <p>長江歩夢</p>
    <p>email: ayumu100811@gmail.com</p>
    <p>tel: 080-2387-4553　　　　　　</p>
  </div>
</div>