<% provide(:title, 'Contact') %>
<div class ="about-bg">
  <div class="center about-explain">
    <h1>CONTACT</h1>
    <img src="app/assets/images/myayumu.jpg" alt="" class="circle myayumu" style="width:200px;">
    <p>長江歩夢</p>
    <p>email: ayumu100811@gmail.com</p>
    <p>tel: 080-2387-4553　　　　　　</p>
  </div>
</div>