<footer class="footer">
  <small>
    SAGROUP is produced by Ayumu Nagae
  </small>
  <nav>
    <ul>
      <li><%= link_to "SAGROUPについて",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>